{% if page.comments %}
<aside id="comments" class="disqus">

  <div class="container">
    <h3><i class="icon icon-comments-o"></i> Comments</h3>
    <form method="POST" action="https://api.staticman.net/v2/entry/chandermani/chandermani.github.io/master/comments">
      <input name="options[redirect]" type="hidden" value="http://chandermani.com">
      <input name="options[slug]" type="hidden" value="{{ page.slug }}">
      <label><input name="fields[name]" type="text">Name</label>
      <label><input name="fields[email]" type="email">E-mail</label>
      <label><textarea name="fields[message]"></textarea>Message</label>
      <button type="submit">Go!</button>
    </form>
  </div>

</aside>
{% endif %}